<div class="w-full flex h-20 items-center justify-center bg-slate-400">
    <div class="px-5 bg-black/25 h-full text-white flex items-center justify-center">
        <ul class="flex gap-x-5 h-full items-center text-xl">
            <li class="hover:text-black transition-all duration-200"><a routerLink="">Home</a></li>
            <li class="hover:text-black transition-all duration-200"><a routerLink="men">Men</a></li>
            <li class="hover:text-black transition-all duration-200"><a routerLink="women">Women</a></li>
            <li class="hover:text-black transition-all duration-200"><a routerLink="about">About</a></li>
            <li class="hover:text-black transition-all duration-200"><a routerLink="contact">Contact</a></li>
        </ul>
    </div>
</div>